# Default ignored files
/shelf/
/workspace.xml
/runConfigurations.xml
/gradle.xml
/deploymentTargetSelector.xml
/inspectionProfiles/Project_Default.xml
/AndroidProjectSystem.xml
/intellij-javadocs-4.0.1.xml
